* {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

body{
    background-color: rgba(114, 89, 255, 0.2);
    text-align: center;
}

.justificado{text-align: justify;}

h1{font-family: Arial, Helvetica, sans-serif;}

h1:hover{
    font-size: 36px;
    color: rebeccapurple;
}

h2{
    font-family: 'Times New Roman', Times, serif;
    color: orange;
}

h2:hover{
    font-size: 28px;
    color: rebeccapurple
}

p{color: rgb(152, 85, 214);}

ul {
    width: 200px; 
    list-style: none; 
    margin: 0; 
    padding: 0; 
    text-align: center;
}

ul li {
    padding: 4px;
    color: white;
    background-color: rebeccapurple; 
    border-top: 2px solid rebeccapurple;
    border-right: 2px solid rebeccapurple;
    border-left: 2px solid rebeccapurple;
}

ul li:last-child {
    border-bottom: 2px solid;
}

ul li:hover {
    cursor: pointer;
    background-color: white;
    color: rebeccapurple;
    transform: scale(1.1);
    transition: all 0.2s;
    box-shadow: #ccc;
}

ul.menu {
    clear: both;
    float: left;
    width: 100%;
}

ul.menu li {
    float: right;
    padding: 10px;
    border-top: 2px solid rebeccapurple;
    border-left: 2px solid rebeccapurple;
    border-bottom: 2px solid rebeccapurple;
    border-right: 2px;
}

ul.menu li:hover {
    background-color: white;
    color: rebeccapurple;
}

ul.menu li:last-child {
    border-right: 2px solid rebeccapurple;
}

@media screen and (max-width: 350px) {

    ul.menu {
        width: 200px;
        float: none;
    }
    
    ul.menu li {
        float: none;
    }

    ul.menu li:first-child {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    ul.menu li:last-child {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}

button {
    text-align: center;
    background-color: rebeccapurple; 
    color: white; 
    padding: 10px 15px; 
    border: none; 
    border-radius: 50px; 
    font-size: 16px; 
    font-family: 'Segoe UI'; 
    box-shadow: 10px 5px 5px #ccc;
}

button:hover{
    background-color: rgb(191, 150, 233);
    
}
